<!DOCTYPE html>
<html>
	<head>
	    <title>Pizza Nossa!</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<h1>Pizzaria Pizza Nossa</h1>
		<nav>
			<a href="/" class="btn btn-primary">Home</a> |
			<a href="/cardapio" class="btn btn-primary">Cardápio</a> |
			<a href="/avaliacoes" class="btn btn-primary">Avaliações </a> | 
			<a href="/faleconosco" class="btn btn-primary">Fale conosco</a> | 
			<a href="/login" class="btn btn-primary">Login</a>
		</nav>
		</header>
	
	     <main>
	       	{% block conteudo %}
		  	{% endblock %}
	     </main>
		<footer>
			<p>Desenvolvido por <a href="#">Breno Leonardo</a></p>
		</footer>
	</body>
</html>