body{
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
}

header{
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    margin: 20px;
}

section img {
    width: 200px;
    height: auto;
    border-radius: 100%;
}

section img{
    float: left;
    margin-right: 30px;
}

aside ul {
    list-style: circle;
    padding: 0;
}

section ul {
    margin-left: 250px;
}

footer {
    background-color: #d3d3d3;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    color: white;
    text-decoration: underline;
    
}

footer a:hover{
    text-decoration: none;
}

main{
    padding: 50px;
}

ul{
    list-style: none;
    padding: 0;
}