body{
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

nav a:hover {
    background-color: #005ec2;
    padding: 10px;
    border-radius: 5px;
}

.container {
    margin: 20px;
}

section img {
    width: 200px;
    height: auto;
    border-radius: 100%;
}

section img{
    float: left;
    margin-right: 30px;
}

aside ul {
    list-style: circle;
    padding: 0;
}

section ul {
    margin-left: 250px;
}

footer {
    background-color: #636363;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    color: white;
    text-decoration: underline;
    
}

footer a:hover{
    text-decoration: none;
}